<div class="sidebar" id="sidebar">
  <a href="#" class="active"><i class="bi bi-speedometer2 me-2"></i>Account Overview</a>
  <a href="/ledger/index"><i class="bi bi-bar-chart-line me-2"></i>manage ledger</a>
  <a href="/bill/index"><i class="bi bi-bar-chart-line me-2"></i>manage bills</a>
  <a href="/stock/index"><i class="bi bi-bar-chart-line me-2"></i>manage stocks</a>
  <a href="#"><i class="bi bi-trophy me-2"></i>Leaderboard</a>
  <a href="#"><i class="bi bi-arrow-repeat me-2"></i>Top-up & Reset</a>
  <a href="#"><i class="bi bi-credit-card me-2"></i>Billing</a>
  <a href="#"><i class="bi bi-cash-stack me-2"></i>Payout</a>
  <a href="#"><i class="bi bi-flag me-2"></i>Competition</a>
  <a href="#"><i class="bi bi-award me-2"></i>Certificate</a>
  <a href="#"><i class="bi bi-tools me-2"></i>Utilities</a>
  <a href="#"><i class="bi bi-calendar-event me-2"></i>News Calendar</a>
  <a href="#"><i class="bi bi-question-circle me-2"></i>Help</a>
</div>
